body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

nav{
    width: 100%;
    background: rgb(96, 96, 100);
}

ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}





@media (max-width:768px)
{

.toggle{
        display: inline-block;
    }
 }
    
ul{
    width: 100;
}

ul li {
    display: over;
    text-align: center;
}
.container-flex {
    display: flex;
}
#grosTitre{
    color: #333333;
    width: 50%;
    max-width: 745px;
max-height: 475px;

}
.slideshow-container {
    width: 100%;
}
.slider {
    width: 50%;
}
.mySlides {
    width: 100%;
}
.mySlides img {
    width: 100%;
    max-height: 475px;
}

#grosTitre2{
    color: #00345e;

}

.bar{
    color: #ff0000;
}

#roi{
    color: #3b0a0a;
}

#backG{
    position: fixed;
    z-index: -1;
}

#Text{
    color: rgb(61, 60, 60);
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify
}

#Textb{
    color: #3f3f3d;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify
}

#Textc{
    color: #5b00ec;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify
}

#Textd{
    color: #1200b8;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify
}

#Texte{
    color: #ff5100;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify
}
#horloge{
    font-size: 30px;
    
    margin-top: 0;

padding-bottom: 20px;
}

#names{
    text-align: center;
    font-size: 20px;
}

#form1{
    text-align: center;
    padding: 1px 10px;
    
    

}

#form2{
    text-align: center;
}


#t{
    text-align: center;
    width: 100%;
    padding: 20px;
    background: rgb(17, 171, 177);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(79, 80, 75, 0.8);
}


#slide{
    margin-left: 20px;
    
    
}
.slide img {
    width: 100%;
    height: 100%;
    max-height:475px;
    max-width: 745px; 
}

.link{
    background: none;
    color: #fff;
text-decoration: none;
background-color: rgb(187, 179, 179);
  border: none;
  color: rgb(2, 10, 122);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;

}

.active{
    background:rgb(30, 255, 0);
    padding: 20px 5px;
   
}


#sub{
    text-align: center; 
}

#btnS{
    background-color: rgb(255, 0, 0);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}




  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/5 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    display: none;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  #roica{
      color: #00345e;
  }

.dynastie{
    width: 100vw
}

#formNom{
    width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #c70303;
  border-radius: 4px;
  box-sizing: border-box;
}

#formP{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ee0404;
    border-radius: 4px;
    box-sizing: border-box;
}

#formD{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #e60505;
    border-radius: 4px;
    box-sizing: border-box;
}

#formA{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #e40404;
    border-radius: 4px;
    box-sizing: border-box;
}

#formC{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #e20404;
    border-radius: 4px;
    box-sizing: border-box;
}

#formV{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #dd0606;
    border-radius: 4px;
    box-sizing: border-box;
}

#formM{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #da0808;
    border-radius: 4px;
    box-sizing: border-box;
}

#formT{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #dd0404;
    border-radius: 4px;
    box-sizing: border-box;
}
